.form-builder {
  display: flex;
  margin: 20px;
}

.control-panel {
  width: 200px;
  padding: 10px;
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  transition: opacity 0.3s ease;
  opacity: 1;
  margin-right: 20px;
}

.control-panel.hidden {
  opacity: 0;
  pointer-events: none;
}

.control {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
}

.control-icon {
  margin-right: 15px;
}

.control-label {
  flex-grow: 1;
}
.draggable-control{
  opacity: 1;
  cursor: grab;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 4px;
}

 





.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}


.edit-icons {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
}

.edit-field-icon,
.remove-field {
  cursor: pointer;
}

.remove-field {
  color: red;
}

.required-label {
  color: red;
  margin-left: 4px;
  font-size: 12px;
  vertical-align: middle;
}

.preview-form {
  /* border: 1px solid #ccc; */
  padding: 10px;
  margin-top: 20px;
}







.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Button styles */
.save-button,
.clear-button,
.edit-button {
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.clear-button {
  background-color: #dc3545;
}



/* Confirmation dialog styles */
.confirmation-dialog {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.confirmation-dialog p {
  margin: 0;
  margin-bottom: 10px;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Adjust the gap to add space between buttons */
}

.confirmation-button {
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}
.clear-confirmation-buttons button{
  margin-left: 20px;
}

.clear-confirmation-dialog {
  position: absolute;
  bottom: 100px;
  left: 80%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  z-index: 999; 
  font-weight: bold;
  
}

.clear-confirmation-no {
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  margin-left: 20px; 
}

.clear-confirmation-yes {
  background-color: #198754;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}







.edit-field {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}


.edit-field div {
  margin-bottom: 15px;
}


.edit-field label {
  display: block;
  font-weight: bold;
  text-align: left; 
}


.edit-field .option-row {
  display: flex;
  align-items: center;
}

.edit-field .option-row input[type="text"] {
  margin-right: 5px;
}

.edit-field .remove-option {
   background-color:#dc3545; 
   color: #fff;
  cursor: pointer;
  margin-left: 10px;
  padding: 2px 4px ;
  
}


.edit-field .add-option {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
  margin-left: 13px;
}


.edit-field .add-option:hover {
  background-color: #0056b3;
}




.required-check {
  display: flex;
  align-items: center; 
  
}

.required-check label {
  font-weight: bold;
  margin-right: 12px; 
}
.required-check input[type="checkbox"] {
  width: 20px; 
  height: 20px; 
}





/* Form Container */
.form-container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  
}

/* Form Title */
.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  
}

/* Form Field Container */
.form-field {
  margin-bottom: 20px;
  
  
  
  
}
.field-label {
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  display: block;
}

/* Form Label */
.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  
}

/* Required Label */
.required-label {
  color: #ff5555;
  margin-left: 5px;
}

/* Input Fields */
.form-input,
.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #333;
}

/* Textarea */
.form-textarea {
  resize: vertical;
}

/* Checkbox and Radio Options */
.form-checkbox,
.form-radio {
  margin-right: 5px;
  vertical-align: middle;
}

/* Buttons */
.form-button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #0056b3;
}

/* Confirmation Dialog */
.confirmation-dialog {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Confirmation Buttons */
.confirmation-button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.confirmation-button.yes {
  background-color: #ff5555;
  color: #fff;
}

.confirmation-button.no {
  background-color: #007bff;
  color: #fff;
}

.confirmation-button:hover {
  opacity: 0.8;
}



